<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <DynamicThresholdFilter key="t-onlinedebug" defaultThreshold="INFO"
                            onMatch="ACCEPT" onMismatch="NEUTRAL">
        <KeyValuePair key="on" value="DEBUG"/>
    </DynamicThresholdFilter>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM/dd HH:mm:ss} [%level] [%thread] [%logger{15}] [%X{traceId}] \: %m%n"/>
        </Console>
        <RollingFile name="info" fileName="scaffold.log"
                     filePattern="scaffold-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger{15}] [%X{traceId}] \: %m%n"/>
            <LevelRangeFilter minLevel="debug" maxLevel="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="300 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="" maxDepth="2">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
<!--        <Logger name="com.scaffold.service.rpc" level="debug">-->
<!--            <AppenderRef ref="console"/>-->
<!--        </Logger>-->
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="info"/>
        </Root>
    </Loggers>
</Configuration>
